body {
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
	margin: 0px;
	padding: 0px;
	background-color: #F5A9F2;
}
/*TITLE*/
.title {
	position: absolute;
	background-color: #ff33ff;
	color: white;
	font-size: 32px;
	height: 48px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 7px;
	box-shadow: 0px 2px 5px gray;
	position: absolute;
	left: 0;
	right: 0;
}
.title img {
	position: absolute;
	max-height: 40px;
	right: 5%;
}
/*FOOTER*/
.footer {
	position: absolute;
	bottom: 2px;
	left: 0;
	right: 0;
	/*background-color: #ff33ff;*/
	/*height: 6px;*/
	/*box-shadow: inset 0px 4px 5px 0px #6E6E6E;*/
}
.footer button {
	float: left;
	margin-top: 70px;
	margin-left: 20px
}
/*APP*/
.app {
	position: absolute;
	padding: 30px;
	top: 56px;
	bottom: 60px;
	left: 0;
	right: 0;
	margin: 0px;
}

/*SPLASH*/
.splash {
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
}
.splash img {
	margin-left: auto;
	/*margin-right:auto;*/
}

/*CARD*/
.card {
	position: absolute;
	top: 200%;
	left: 1%;
	bottom: -20px;
	width: 98%;
	text-align: center;
	box-shadow: 0px 2px 5px gray;
	background-color: #FBEFFB;
	overflow-y: auto;
}

.card input {
	width: 70%;
	height: 50px;
	font-size: 32px;
}
.card h1 {
	font-size: 28px;
	color: #0B614B;
}
.card button {
	float: right;
	margin-right: 5%;
	margin-top: -17px;
}
.code-generation {
	padding: 10px;
	color: white;
	background-color: #FA58F4;
	box-shadow: 0px 2px 5px gray;
	font-size: 22px;
	margin-bottom: 10%;
}

.radios {
	position: relative;
	text-align: left;
	/*border:1px solid red;*/
	padding: 5px;
}
.radios input {
	width: 20px;
	height: 20px;
	/*margin-top:25px;  */
}

.radios label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 5px;
	margin-right: 15px;
	margin-top: -20px;
	font-size: 53px;
	color: #808080;
}
/*UTILITIES*/
.round-button {
	display: block;
	width: 90px;
	height: 90px;
	line-height: 50px;
	border: 2px solid #f5f5f5;
	border-radius: 50%;
	color: #f5f5f5;
	text-align: center;
	text-decoration: none;
	background: #ff33ff;
	box-shadow: 0 0 3px gray;
	font-size: 28px;
	font-weight: bold;
	outline: none;
}

ul {
	list-style: none;
	padding-left: 2%;
	padding-right: 2%;
	text-align: left;
	height: 50%;
}
li {
	border-bottom: dashed 1px;
	padding: 15px;
}
@media (min-height: 1000px) {
	.title {
		font-size: 132px;
		height: 190px;
		padding-left: 100px;
		padding-right: 100px;
		padding-top: 27px;
	}
	.title img {
		position: absolute;
		max-height: 200px;
		right: 5%;
	}
	.card {
		left: 1%;
		bottom: 0;
		width: 98%;
		text-align: left;
		padding: 5%;
	}
	.app {
		padding: 130px;
		top: 256px;
		bottom: 60px;
		left: 0;
		right: 0;
		margin: 0px;
	}
	.round-button {
		width: 190px;
		height: 190px;
		line-height: 150px;
		border-radius: 50%;
		font-size: 100px;
	}
	.card h1 {
		font-size: 60px;
	}
	.card input {
		width: 70%;
		height: 120px;
		font-size: 52px;
	}
}

/*JOIN*/
.join {

}

/*SETTINGS*/
.settings {

}
.settings input {

}

@keyframes fade {
from {
	opacity: 1.0;
}
50% { opacity: 0.7; }
to {
	opacity: 1.0;
}
}

@-webkit-keyframes
fade {from {
	opacity: 1.0;
}
50% { opacity: 0.7; }
to {
	opacity: 1.0;
}
}

.blink {
	animation: fade 3000ms infinite;
	-webkit-animation: fade 3000ms infinite;
}