<?xml version='1.0' encoding='utf-8'?>
<widget id="com.giladmanor.avigdor" version="0.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Avigdor</name>
    <description>
        A simple board game application
    </description>
    <author email="gilad@dadaviz.com" href="http://dadaviz.com">
        Avigdor Dardashvili
    </author>
    <content src="index.html" />
    <access origin="*" />
    <icon src="www/img/icon.png" />
    <preference name="Fullscreen" value="true" />
    
</widget>
